<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>main/index - Todolist</title>
  <link rel="stylesheet" href="/static/css/appMainStyles.css">
</head>
<body>
  <div class="container">
    <main role="main">
        <div id="myDIV" class="header">
          <h2>TodoList WebApp in Elixir using Sugar</h2>
        </div>

        <ul id="myUL">
            <%= for todo_item <- @all_todo_items do %>
              <%= if todo_item.is_done == false do %>
              <li title="<%= todo_item.description %>" class="checked">
                  <a href="/markdone/<%= todo_item.id %>" title="Mark this as NOT done"><span class="checked"></span></a>
              <% else %>
              <li title="<%= todo_item.description %>">
                  <a href="/markdone/<%= todo_item.id %>" title="Mark this as done"><span class="mark">x</span></a>
              <% end %>

              <a href="/edit/<%= todo_item.id %>"><%= todo_item.name %></a>
              <a href="/delete/<%= todo_item.id %>" title="Delete this item"><span class="close">x</span></a>
              </li>
            <% end %>
        </ul>

        <div>
          <span class="addBtn"><a href="/new">Add</a></span>
        </div>
    </main>
  </div>
</body>
</html>
